@tailwind base;
@tailwind components;
@tailwind utilities;

.card-item {
  @apply relative h-44 w-[12rem] text-white bg-[url('./assets/workoutImages/weights.jpg')] bg-cover bg-center p-4 flex justify-center items-center shadow-lg mb-10 hover:cursor-pointer hover:shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-blue-950 dark:text-white dark:shadow-slate-800 rounded-md;
}

.card-item::before {
  @apply absolute inset-0 bg-black opacity-50 rounded-md;
  content: "";
  z-index: 0;
}

.card-content {
  @apply relative z-10;
}

.action-icon {
  @apply text-[1rem] transition-transform duration-300 hover:scale-110 hover:cursor-pointer;
}

* {
  @apply transition-colors duration-200;
}

/* body.dark {
  background-color: #121212;
  color: #ffffff;
} */

.active {
  font-weight: bold;
  border-left: none;
  border-bottom: solid white 2px;
}

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
} */
