@tailwind base;
@tailwind components;
@tailwind utilities;

.card-item {
  @apply relative h-44 w-[12rem] text-white bg-[url('./assets/workoutImages/weights.jpg')] bg-cover bg-center p-4 flex justify-center items-center shadow-lg mb-10 hover:cursor-pointer hover:shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-blue-950 dark:text-white dark:shadow-slate-800 rounded-md;
}

.card-item::before {
  @apply absolute inset-0 bg-black opacity-50 rounded-md;
  content: "";
  z-index: 0;
}

.card-content {
  @apply relative z-10;
}

.action-icon {
  @apply text-[1rem] transition-transform duration-300 hover:scale-110 hover:cursor-pointer;
}

.dark body {
  @apply bg-slate-900 text-white;
}

.active {
  border-left: none;
  color: white;
}

.userslist-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.userslist-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease;
}
.userslist-exit {
  opacity: 1;
  transform: translateX(0);
}
.userslist-exit-active {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.4s ease;
}
.userslist-move {
  transition: all 0.4s ease;
}

@layer base {
  input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px #395756 inset !important;
    -webkit-text-fill-color: #fff !important;
  }

  input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px #395756 inset !important;
    -webkit-text-fill-color: #fff !important;
  }

  input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px #395756 inset !important;
    -webkit-text-fill-color: #fff !important;
  }

  input:-webkit-autofill:hover {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px #395756 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
}
